@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin respond($breakpoint){

    @if $breakpoint == 300 {
        @media (max-width: 18.7em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 400 {
        @media (max-width: 25em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 500 {
        @media (max-width: 31.25em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 600 {
        @media (max-width: 37.5em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 700 {
        @media (max-width: 43.75em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 800 {
        @media (max-width: 50em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 850 {
        @media (max-width: 53.125em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 900 {
        @media (max-width: 56.25em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 1000 {
        @media (max-width: 62.5em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 1100 {
        @media (max-width: 68.75em) { @content; }//37.5em = 600px
    }
    @if $breakpoint == 1200 {
        @media (max-width: 75em) { @content; }//37.5em = 600px
    }





    // @if $breakpoint == phone {
    //     @media (max-width: 37.5em) { @content; }//37.5em = 600px
    // }

    // @if $breakpoint == tab-port-small {
    //     @media (max-width: 47em) { @content; }//37.5em = 600px
    // }

    // @if $breakpoint == tab-port {
    //     @media (max-width: 56.25em) { @content; }//56.25em = 900px
    // }
    // @if $breakpoint == tab-land {
    //     @media (max-width: 75em) { @content; }//75em = 1200px
    // }
    // @if $breakpoint == big-desktop {
    //     @media (min-width: 112.5em) { @content; }//112.5em = 1800px
    // }

}