.row{
    max-width: 114rem;
    margin: 0 auto;
    position: relative;
    // &-about{
    //     width: 100%;
    //     @media(max-width: 1200px){
    //         width: 49%;
    //         display: inline-block;
    //     }
    //     @media(max-width: 900px){
    //         width: 100%;
    //         display: block;
    //     }
        
        
    // }

    

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }


    @include clearfix;

    [class^="col-"]{
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontial;
        }


    }

    .col-1-of-1{
        width: calc((100% - #{$gutter-horizontial}) / 1);
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontial}) / 2);
        @media(max-width: 750px){
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .col-1-of-2-about{
        width: calc((100% - #{$gutter-horizontial}) / 2);
        @media(max-width: 1200px){
            width: 100%;
            margin-bottom: 5rem;
        }
    }
    .col-1-of-2-about-break{
        width: calc((100% - #{$gutter-horizontial}) / 2);
        margin-bottom: 5rem;
        @media(max-width: 445px){
            width: 90%;
            padding-left: 4rem;
        }
    }
    .col-1-of-2-about-desc{
        width: calc((100% - #{$gutter-horizontial}) / 2);
        @media(max-width: 1200px){
            width: 100%;
        }
    }
    

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontial}) / 3);
        position: relative;
        margin-bottom: 6rem;
        &:nth-child(3n){
            margin-right: 0;
        }
        @media(max-width: 850px){
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizontial}) / 3) + #{$gutter-horizontial});
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontial}) / 4);
    }

    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$gutter-horizontial}) / 4) + #{$gutter-horizontial});
    }

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$gutter-horizontial}) / 4) + 2 * #{$gutter-horizontial});
    }
    .col-4-of-4{
        width: calc(4 * ((100% - 3 * #{$gutter-horizontial}) / 4) + 3 * #{$gutter-horizontial});
    }

    

}