.navigation__top{
    width: 100%;
    height: 4rem;
    background-color: #f9f9fa;


    &--contact{
        display: inline-block;
        margin: .5rem 4rem 0 0 ;

        i{
            color: #931ba1;
            padding-right: .5rem;
        }
        &:first-child{
            margin-left: 2rem;
        }
    }
}

.navigation{
    position: fixed;
    height: 10rem;
    width: 100%;
    box-shadow: 0 1px 4px -2px gray;
    background-color: white;
    z-index: 15;

    &__logo{
        position: absolute;
        top: .8rem;

        &--image{
            height: 9rem;
            //height: 100% !important;
            display: inline-block;
        }
    }

    &__nav{
        position: absolute;
        right: 0;
    }

    &__list{
        margin-top: 3rem;
    }

    &__item{
        display: inline-block;
        padding: 0 1rem;
        
        &:last-child{
            margin-right:2rem;
            @media(max-width: 900px){
                margin-right:7rem;
                margin-top: -0.3rem;
            }
        }
        @media(max-width: 585px){
            display: none !important;
        }
        &--hidden{
            display: none !important;
            @media(max-width: 900px){
                display: inline-block !important;
            }
        }
    }

    &__link{
        position: relative;

        &:link,
        &:visited{
            text-decoration: none;
            text-transform: uppercase;
            padding: .8rem 0 .4rem 0;
            color: $color-grey-dark-5;
            font-weight: 600;
            font-size: 1.4rem;
            margin-right: 1rem;
            @media(max-width: 1000px){
                font-size: 1.3rem;
            }
            @media(max-width: 950px){
                font-size: 1.1rem;
            }
            @media(max-width: 900px){
                display: none;
            }
        }
        &:hover,
        &:active{
            color: #901da0 !important;
            //border-bottom: 3px solid $color-orange;
        }
        &-active{
            color: #901da0 !important;
            border-bottom: 3px solid #303030;
        }
    }
}


.navigation-small{
    display: none;
    @media(max-width: 900px){
        display: block;
    }

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-blue;
        border-radius: 4px;
        height: 4.5rem;
        width: 4.5rem;
        position: fixed;
        top: 6.9rem;
        right: 1rem;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: .2);
        text-align: center;
        cursor: pointer;
    }

    &__background{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 6.9rem;
        right: 1.5rem;
        background-image: radial-gradient($color-grey-dark-6, $color-grey-dark-7);
        z-index: 100;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        padding:1rem;
    }

    &__link{

        &:link,
        &:visited{
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 230%;
        transition: all .6s;

            span{
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }

    &__icon{
        position: relative;
        margin-top: 2.2rem;

        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before{
            top: -.8rem;
        }
        &::after{
            top: .8rem;
        }
    }

    &__button:hover &__icon::before{
        top: -1rem;
    }

    &__button:hover &__icon::after{
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;

        &::before{
            top: 0;
            transform: rotate(135deg);
        }
        &::after{
            top: 0;
            transform: rotate(-135deg);
        }
    }
}
