.section-team{

  &__container{
    width: 100%;
  }
  &__image{
    //width: 100%;
  }
  &__name{
    color: $color-blue;
    display: block;
    font-weight: 600;
    font-size: 2rem;
  }
  &__title{
    color: $color-grey-dark;
    display: block;
    font-weight: 600;
    font-size: 2rem;
  }


  &__description{

  }

}